extends layout

block content
    .pusher
        .ui.inverted.vertical.masthead.center.aligned.segment
            .ui.container
                .ui.large.secondary.inverted.pointing.menu
                    a.active.item Home
                    a.item About Us
                    a.item Our Philosophy
            .ui.text.container
                h1.ui.inverted.header Rock-In2
                h2 Bestest company ever
        .ui.vertical.stripe.segment
            .ui.middle.aligned.stackable.grid.container
                .row
                    .eight.wide.column
                        h3.ui.header Make cleaning fun
                        p We at Rockin strive to make out enviroment clean and we want 
                            | everyone to take part. That is why we made Plokk-In which 
                            | makes it a fun game for people of all ages.
                        h3.ui.header Working with the government
                        p We at Rockin take cleaning our environment seriously and work
                            tirelessly with local authorities and officials to get
                            optimal results and to reward participants.
                    .six.wide.right.floated.column
                        img.ui.big.fluid.rounded.image(src="images/plokkin_map.png")
                .row
                    .center.aligned.column
                        a.ui.huge.button Get Plokk-In 
        .ui.vertical.stripe.quote.segment
            .ui.equal.width.stackable.internally.celled.grid
                .center.aligned.row
                    .column
                        h3 "What a company"
                        p That's what they all say about us
                    .column
                        h3 "I love them more than my children"
                        p -Yer da
        .ui.vertical.stripe.segment
            .ui.text.container
                h3.ui.header Saving our environment, one step at a time
                p Instead of focusing on large scale solutions to environmental problems
                    we instead opt to focus on the small side of things. Every person,
                    no matter how big or small, can change the world and we work to enable
                    that change. Anyone can help and a small man can cast a large shadow.
                a.ui.large.button Read more
                h4.ui.horizontal.header.divider
                    a Stories
                h3.ui.header Make your life meaningful
                p LOREM IPSUM DOLARET! PLACEHOLDERS, DO YOU SPEAK IT MOTHERFUCKER?
                a.ui.large.button Learn you some Lorem Ipsum
        .ui.inverted.vertical.footer.segment
            .ui.container
                .ui.stackable.inverted.divided.equal.height.stackable.grid
                    .three.wide.column
                        h4.ui.inverted.header About
                        .ui.inverted.link.list
                            a.item Sitemap
                            a.item Contact Us
                            a.item History
                            a.item Our story
                    .three.wide.column
                        h4.ui.inverted.header Services
                        .ui.inverted.link.list
                            a.item Plokkin
                            a.item Maps
                            a.item Sensors
                            a.item Guolin's balls
                    .seven.wide.column
                        h4.ui.inverted.header Additional information
                        p Very important additional information you must absolutely read.
