extends layout

block content
    .pusher
        .ui.inverted.vertical.masthead.center.aligned.segment
            .ui.container
                .ui.large.secondary.inverted.pointing.menu
                    a.active.item Heim
                    a.item Um okkur
                    a.item Okkar sýn
            .ui.text.container
                h1.ui.inverted.header Rock-In
                h2 Besta fyrirtæki í heimi 
        .ui.vertical.stripe.segment
            .ui.middle.aligned.stackable.grid.container
                .row
                    .eight.wide.column
                        h3.ui.header Verkefnið okkar
                        p Við í Rock-In stefnum á að hreinsa umhverfið okkar og viljum að allir séu með!
                            | Þess vegna bjuggum við til Plokk-In sem gerir leik úr því fyrir alla aldurshópa.
                        h3.ui.header Samstarf við borgarstjórn
                        p Við lítum hreinsum á umhverfinu mikilvægum augum og þess vegna erum við í nánu samstarfi við
                            | Reykjavíkurborg, og stefnum á samtarf við fleiri borgi og bæi. Þannig getum við fengið sem
                            | bestar niðurstöður og verðlaunað þáttakendur.
                    .eight.wide.right.floated.column
                        img.ui.big.fluid.rounded.image(src="images/plokkin_map.png")
                .row
                    .center.aligned.column
                        a.ui.huge.button Plokk-In 
        .ui.vertical.stripe.segment
            .ui.text.container
                h3.ui.header Teymið á bakvið Plokk-In
                p Á bakvið Plokk-In er einvala lið ungra og efnilegra forritara með bakgrunn í 
                    | tölvunarfræði, hugbúnaðarverkfræði og rafmagnsverkfræði.
        .ui.vertical.stripe.quote.segment
            .ui.equal.width.stackable.internally.celled.grid
                .center.aligned.row
                    .column
                        img.ui.small.circular.spaced.image(src="images/guolin.png")
                        h3 Guolin Fang
                        p CEO
                        p B.Sc. í rafmagnsverkfræði, HÍ
                .center.aligned.row
                    .column
                        img.ui.small.circular.spaced.image(src="images/stefanth.png")
                        h3 Stefán Þorvarðarson
                        p Bakenda forritari
                        p B.Sc. í rafmagnsverkfræði og tölvunarfræði, HÍ
                    .column
                        img.ui.small.circular.spaced.image(src="images/stefancarl.png")
                        h3 Stefán Carl Peiser
                        p Full-stack forritari
                        p B.Sc. í hugbúnaðarverkfræði, HÍ
                .center.aligned.row
                    .column
                        img.ui.small.circular.spaced.image(src="images/oddgeir2.png")
                        h3 Oddgeir Páll Georgsson
                        p Framenda forritari
                        p B.Sc. í hugbúnaðarverkfræði, HÍ
                    .column
                        img.ui.small.circular.spaced.image(src="images/biggi.png")
                        h3 Brynjólfur Gíslason
                        p Markaðsfulltrúi
                        p Stúdent úr Menntaskóla Kópavogs
        .ui.inverted.vertical.footer.segment
            .ui.container
                .ui.stackable.inverted.divided.equal.height.stackable.grid
                    .three.wide.column
                        h4.ui.inverted.header About
                        .ui.inverted.link.list
                            a.item Sitemap
                            a.item Contact Us
                            a.item History
                            a.item Our story
                    .three.wide.column
                        h4.ui.inverted.header Services
                        .ui.inverted.link.list
                            a.item Plokkin
                            a.item Maps
                            a.item Sensors
                            a.item Guolin's balls
                    .seven.wide.column
                        h4.ui.inverted.header Additional information
                        p Very important additional information you must absolutely read.
