body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.masthead.segment {
    min-height: 500px;
    padding: 1em 0em;
}

.masthead h1.ui.header {
    margin-top: 2em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}


.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.quote.stripe.segment {
    padding: 0em;
}

.quote.stripe.segment .grid .column {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

.ui.footer.segment {
    padding: 5em 0em
}
